.menu {
    margin-top: 10px;
}

.titleLayoud {
    color: blue;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: auto;
    margin-bottom: 10px;
}

.menu-head {
    color: purple;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 20px;
}

.menu-item {
    margin: 0 20px 0 10px;
    .menu-button {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding-left: 10px;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    .menu-button span {
        margin-left: 5px;
        color: aliceblue;
    }
    .menu-button:hover {
        background-color: rgb(10, 223, 223);
    }
    .menu-button:focus {
        background-color: rgb(2, 2, 2);
    }
    .iconClass {
        font-size: 25px;
    }
}

mat-divider {
    border-top-width: 2px;
    margin-bottom: 30px;
    border-color: rgb(255, 255, 255);
}