<div class="menu">
    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">home</span><span>Inicio</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">supervised_user_circle</span><span>Usuario</span></button>
    </div>

    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">category</span><span>Categorias</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">place </span><span>Areas</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">store </span><span>Productos</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">monitor_weight</span><span>Medidas</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">gradient </span><span>Graficas</span></button>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-item">
        <button mat-button class="menu-button"><span class="material-icons iconClass">logout</span><span>Salir</span></button>
    </div>

</div>