<div class="menu border border-primary">
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Inicio</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Usuario</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Proveedores</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Inventarios</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Areas</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Productos</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Medidas</span></button>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button"><mat-icon>dashboard</mat-icon><span>Graficas</span></button>
    </div>

</div>