<mat-toolbar color="primary">
    <button (click)="toggleSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
    <span class="title" routerLink="/">Desarrollo</span>
    <span class="toolbar-item-spacer"></span>
    <span class="spacer"></span>
    <span class="welcome-text">{{ user }}</span>
    <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with heart icon">
<mat-icon>person_pin</mat-icon>
</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
<span>Logout</span>
</button>
    </mat-menu>
</mat-toolbar>