<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="siderbarOpen">

        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <!--                                                                       -->
    <mat-sidenav-content>
        <div class="content">

            <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

            <div class="main mat-elevation-z1 border border-danger">
                Aqui es comienzo de toda la Area
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>